/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
}

img {
    width: 100%;
}

/* HEADER */
header {
    text-align: center;
}

/* titolo */
h1 {
    font-size: 50px;
    display: inline-block;
    margin: 20px 15px;
}

.title img {
    width: 70px;
    height: auto;
    vertical-align: sub;
}

/* MAIN */

/* slider */
.slider_cont {
    max-width: 1200px;
    height: 80vh;
    padding: 15px 30px;
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* immagini */
.img_cont {
    padding: 30px;
}

.img_cont img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* frecce */
.freccia {
    font-size: 60px;
    color: #888;
}

.freccia:hover {
    color: #333;
    cursor: pointer;
}

.freccia:active {
    transform: translateY(2px);
}

/* cerchietti */
.cerchietti {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.4);
}

.cerchietti i {
    color: white;
    margin: 0 7px;
}

.cerchietti i.attivo {
    color: #333;
    border: 2px solid white;
    border-radius: 50%;
}

/* FOOTER */
footer {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

footer img {
    margin: 0 3px;
    width: 25px;
    height: auto;
    vertical-align: middle;
}